<a href="https://colab.research.google.com/github/nishu3210/Yelp_data_challenge/blob/master/Yelp_Collaborative_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Yelp Data Challenge
Tasks: \\
1. Recommendation using collaborative and content based filtering techniques. Also, use query generation and search techniques. \\
2. Aspect Based Sentiment Analysis of user reviews (Proposed)

Mount Google Drive and load Yelp JSON data using Pandas

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import os

In [0]:
os.chdir("drive/My Drive/Yelp Data/")

In [0]:
import pandas as pd

User Data

In [0]:
user_chunk = pd.read_json("yelp_academic_dataset_user.json", chunksize=1000000,orient = 'list' ,lines = True)

In [0]:
chunk_list = []
# Each chunk is in df format
for chunk in user_chunk:  
    chunk_list.append(chunk)
    
# concat the list into dataframe 
user = pd.concat(chunk_list)

In [0]:
del chunk_list, chunk, user_chunk

In [0]:
import gc
gc.collect()

0

In [0]:
user.head()

                  user_id    name  ...  compliment_writer compliment_photos
0  l6BmjZMeQD3rDxWUbiAiow  Rashmi  ...                  2                 0
1  4XChL029mKr5hydo79Ljxg   Jenna  ...                  0                 0
2  bc8C_eETBWL0olvFSJJd0w   David  ...                  0                 0
3  dD0gZpBctWGdWo9WlGuhlA  Angela  ...                  1                 0
4  MM4RJAeH6yuaN8oZDSt0RA   Nancy  ...                 25                 5

[5 rows x 22 columns]

Business

In [0]:
bus_chunk = pd.read_json("yelp_academic_dataset_business.json", chunksize=1000000,lines = True)

In [0]:
chunk_list = []
# Each chunk is in df format
for chunk in bus_chunk:  
    chunk_list.append(chunk)
    
# concat the list into dataframe 
bus = pd.concat(chunk_list)

In [0]:
del chunk_list, chunk, bus_chunk
gc.collect()

0

In [0]:
bus.head()

              business_id  ...                                              hours
0  1SWheh84yJXfytovILXOAQ  ...                                               None
1  QXAEGFB4oINsVuTFxEYKFQ  ...  {'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...
2  gnKjwL_1w79qoiV3IC_xQQ  ...  {'Monday': '17:30-21:30', 'Wednesday': '17:30-...
3  xvX2CttrVhyG2z1dFg_0xw  ...  {'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...
4  HhyxOkGAM07SRYtlQ4wMFQ  ...  {'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...

[5 rows x 14 columns]

Reviews Data

In [0]:
rev_chunk = pd.read_json("yelp_academic_dataset_review.json", chunksize=1000000,lines = True)

In [0]:
chunk_list = []
# Each chunk is in df format
for chunk in rev_chunk:  
    chunk_list.append(chunk)
    gc.collect()
    
# concat the list into dataframe 
rev = pd.concat(chunk_list)

In [0]:
del chunk_list, chunk, rev_chunk
gc.collect()

0

In [0]:
rev.head()

                review_id  ...                date
0  Q1sbwvVQXV2734tPgoKj4Q  ... 2013-05-07 04:34:36
1  GJXCdrto3ASJOqKeVWPi6Q  ... 2017-01-14 21:30:33
2  2TzJjDVDEuAW6MR5Vuc1ug  ... 2016-11-09 20:09:03
3  yi0R0Ugj_xUx_Nek0-_Qig  ... 2018-01-09 20:56:38
4  11a8sVPMUFtaC7_ABRkmtw  ... 2018-01-30 23:07:38

[5 rows x 9 columns]

User tips for restaurants

In [0]:
tip_chunk = pd.read_json("yelp_academic_dataset_tip.json", chunksize=1000000,lines = True)

In [0]:
chunk_list = []
# Each chunk is in df format
for chunk in tip_chunk:  
    chunk_list.append(chunk)
    gc.collect()
    
# concat the list into dataframe 
tip = pd.concat(chunk_list)

In [0]:
del chunk_list, chunk, tip_chunk
gc.collect()

0

In [0]:
tip.head()

                  user_id  ... compliment_count
0  UPw5DWs_b-e2JRBS-t37Ag  ...                0
1  Ocha4kZBHb4JK0lOWvE0sg  ...                0
2  jRyO2V1pA4CdVVqCIOPc1Q  ...                0
3  FuTJWFYm4UKqewaosss1KA  ...                0
4  LUlKtaM3nXd-E4N4uOk_fQ  ...                0

[5 rows x 5 columns]

User checkin data

In [0]:
# chk_chunk = pd.read_json("yelp_academic_dataset_checkin.json", chunksize=1000000,lines = True)

In [0]:
# chunk_list = []
# # Each chunk is in df format
# for chunk in chk_chunk:  
#     chunk_list.append(chunk)
#     gc.collect()
    
# # concat the list into dataframe 
# chk = pd.concat(chunk_list)

In [0]:
# del chunk_list, chunk, chk_chunk
# gc.collect()

In [0]:
# chk.head()

# Filtering Data

In [0]:
bus.city.value_counts()

Las Vegas              29370
Toronto                18906
Phoenix                18766
Charlotte               9509
Scottsdale              8837
                       ...
Saint Leonard              1
Vaughn                     1
Alburgh                    1
Penn Hills Township        1
                           1
Name: city, Length: 1204, dtype: int64

Selecting Toronto as the city

In [0]:
busT = bus[bus.city=="Toronto"]

In [0]:
busT.head()

               business_id  ...                                              hours
19  zSpQmEBvRe3IhTUlMSA6HQ  ...  {'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...
26  C9oCPomVP0mtKa8z99E3gg  ...  {'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ...
27  C9keC4mWuXdl2mYFHZXudQ  ...  {'Monday': '11:30-19:0', 'Tuesday': '11:30-19:...
29  NDuUMJfrWk52RA-H-OtrpA  ...  {'Monday': '8:0-21:0', 'Tuesday': '8:0-21:0', ...
32  SP_YXIEwkFPPl_9anCYmpQ  ...  {'Tuesday': '9:0-18:0', 'Wednesday': '9:0-18:0...

[5 rows x 14 columns]

In [0]:
busT.categories.value_counts().to_csv("categories.csv")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

Taking only resturants

In [0]:
busT.categories[busT.categories.str.contains("(Restaurants)|(Bar)|(Food)|(Cafe?s)|(Juice?s)|(Fast Food)|(Bakeries)",case=False,regex=True,na=False)].count()

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

10704

In [0]:
busT = busT[busT.categories.str.contains("(Restaurants)|(Bar)|(Food)|(Cafe?s)|(Juice?s)|(Fast Food)|(Bakeries)",case=False,regex=True,na=False)]

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Keeping only open businesses

In [0]:
busT.is_open.value_counts()

1    7292
0    3412
Name: is_open, dtype: int64

In [0]:
# busT = busT[busT.is_open==1]

In [0]:
busT.count()

business_id     10704
name            10704
address         10704
city            10704
state           10704
postal_code     10704
latitude        10704
longitude       10704
stars           10704
review_count    10704
is_open         10704
attributes      10219
categories      10704
hours            8005
dtype: int64

Subset other data sets accordingly

In [0]:
revT = rev[rev.business_id.isin(busT.business_id.unique())]

In [0]:
revT.count()

review_id      435785
user_id        435785
business_id    435785
stars          435785
useful         435785
funny          435785
cool           435785
text           435785
date           435785
dtype: int64

In [0]:
userT = user[user.user_id.isin(revT.user_id.unique())]

In [0]:
userT.count()

user_id               94318
name                  94318
review_count          94318
yelping_since         94318
useful                94318
funny                 94318
cool                  94318
elite                 94318
friends               94318
fans                  94318
average_stars         94318
compliment_hot        94318
compliment_more       94318
compliment_profile    94318
compliment_cute       94318
compliment_list       94318
compliment_note       94318
compliment_plain      94318
compliment_cool       94318
compliment_funny      94318
compliment_writer     94318
compliment_photos     94318
dtype: int64

In [0]:
tipT = tip[tip.business_id.isin(busT.business_id)]

In [0]:
tipT.count()

user_id             62351
business_id         62351
text                62351
date                62351
compliment_count    62351
dtype: int64

In [0]:
del user,bus,tip,rev
gc.collect()

18

# Save workspace to pickle

In [0]:
!pip3 install dill

Requirement already satisfied: dill in /usr/local/lib/python3.6/dist-packages (0.3.1.1)

In [0]:
import dill                            
filename = 'Yelp_Toronto.pkl'
# dill.dump_session(filename)

Load workspace from pickle

In [0]:
dill.load_session(filename)

In [0]:
revT.head()

                 review_id  ...                date
14  JVcjMhlavKKn3UIt9p9OXA  ... 2012-07-16 00:37:14
15  svK3nBU7Rk8VfGorlrN52A  ... 2017-04-07 21:27:49
19  4bUyL7lzoWzDZaJETAKREg  ... 2014-06-27 21:19:23
34  E6B-2U2sGG3xgmnNWZAEew  ... 2017-12-29 13:55:19
47  0NRNA8qIq9nKw5FcwyOxcQ  ... 2015-04-01 13:31:35

[5 rows x 9 columns]

In [0]:
import numpy as np

In [0]:
np.mean(revT.user_id.value_counts()>1)

0.4845522593778494

Only 48% of users have more than 1 review

In [0]:
revT[["user_id","stars"]].describe()

               stars
count  435785.000000
mean        3.620971
std         1.270781
min         1.000000
25%         3.000000
50%         4.000000
75%         5.000000
max         5.000000

In [0]:
np.mean(revT.user_id.value_counts()>20)

0.03583621366017091

In [0]:
revT[revT.groupby('user_id').user_id.transform("size") > 20].describe()

               stars         useful          funny           cool
count  188335.000000  188335.000000  188335.000000  188335.000000
mean        3.601375       1.615287       0.599135       0.857881
std         1.082003       3.443397       2.165953       2.748650
min         1.000000       0.000000       0.000000       0.000000
25%         3.000000       0.000000       0.000000       0.000000
50%         4.000000       1.000000       0.000000       0.000000
75%         4.000000       2.000000       1.000000       1.000000
max         5.000000     110.000000     264.000000     110.000000

We will keep only those users who have at least rated 5 restaurants

In [0]:
revT = revT[revT.groupby('user_id').user_id.transform("size") > 20]

In [11]:
revT.stars.isna().sum()

0

In [0]:
# revT.reset_index(inplace=True)

# Collaborative Filtering

In [13]:
!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/f5/da/b5700d96495fb4f092be497f02492768a3d96a3f4fa2ae7dea46d4081cfa/scikit-surprise-1.1.0.tar.gz (6.4MB)
     |████████████████████████████████| 6.5MB 3.5MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.14.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.17.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.3.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp36-cp36m-linux_x86_64.whl size=1678229 sha256=f0144a375dd1274ebc74d2655a01c0803d955842344855498affdd1c80467a8a
  Stored in directory: /root/.cache/pip/wheels/cc/fa/8c/16c93fccce688ae1bde7d979ff102f7bee980d9cfeb8641bcf
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.0 surprise-0.1

In [0]:
import numpy as np
from surprise import Dataset, Reader
from surprise import SVD,NMF
from surprise import accuracy
from surprise.model_selection import cross_validate, train_test_split
from surprise.prediction_algorithms import Prediction
import random
from surprise.model_selection import GridSearchCV

In [0]:
# Instantiate a 'Reader' to read in the data so Surprise can use it
reader = Reader(rating_scale=(1, 5))

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(revT[['user_id', 'business_id', 'stars']], reader)

Default Testing

In [94]:
# Using SVD
# Run 5-fold cross-validation and print results
cv = cross_validate(SVD(), data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
cv

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9747  0.9808  0.9712  0.9798  0.9753  0.9763  0.0035
MAE (testset)     0.7666  0.7736  0.7650  0.7714  0.7673  0.7688  0.0032
Fit time          7.83    7.83    7.86    7.98    8.00    7.90    0.08
Test time         0.23    0.40    0.41    0.25    0.24    0.31    0.08

{'fit_time': (7.828795909881592,
  7.827090263366699,
  7.859078884124756,
  7.976368188858032,
  8.00381875038147),
 'test_mae': array([0.76657323, 0.7735627 , 0.7650333 , 0.77139657, 0.7673371 ]),
 'test_rmse': array([0.97467281, 0.98077223, 0.97118949, 0.97982895, 0.97526366]),
 'test_time': (0.23373961448669434,
  0.40291500091552734,
  0.41225218772888184,
  0.24533581733703613,
  0.23750090599060059)}

Custom Cross validation to decide parameters

In [0]:
param_grid = {'n_epochs': [20,40], 'n_factors':[20,30,40], 'reg_all':[0.08], 'verbose': ['True']}

In [0]:
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=5,return_train_measures=True,refit=True)

In [0]:
gs.fit(data)

In [0]:
results = gs.cv_results

In [0]:
results_df = pd.DataFrame.from_dict(gs.cv_results)
results_df.to_csv('svd_results3.csv')

In [0]:
results_df = pd.read_csv("svd_results2.csv")
results_df.drop(columns="Unnamed: 0",inplace = True)

In [0]:
results_df.sort_values(by='mean_test_rmse').head()

In [0]:
results_df.sort_values(by='mean_test_rmse').head()

In [0]:
results_df1 = pd.read_csv("svd_results.csv")
results_df1.drop(columns="Unnamed: 0",inplace = True)
results_df1.sort_values(by='mean_test_rmse').head()

Now we know the best parameters, we can make test train dataset and check the predicted values which is [40 iterations, 30 factors, 0.08 regularization]

In [0]:
trainset, testset = train_test_split(data, test_size=.20)

In [0]:
train = pd.DataFrame(trainset.build_testset().copy(),columns=["user_id","business_id","stars"])

In [0]:
test = pd.DataFrame(testset.copy(),columns=["user_id","business_id","stars"])

In [0]:
gs.best_params["rmse"]

In [0]:
algo = SVD(biased=True, n_epochs=40,n_factors=30 ,reg_all=0.08,verbose=False)

In [35]:
algo.fit(trainset)

In [0]:
predictions = algo.test(testset)

In [37]:
accuracy.rmse(predictions)

RMSE: 0.9663

0.966254663669857

In [0]:
testset2 = trainset.build_testset()

In [0]:
predictions2 = algo.test(testset2)

In [40]:
accuracy.rmse(predictions2)

RMSE: 0.8037

0.8037386016494171

This is similar to mean RMSE obtained during cross validation

Full trainset

In [0]:
# Retrieve the trainset.
trainset1 = data.build_full_trainset()

In [0]:
algo1 = SVD(biased=True, n_epochs=40,n_factors=30 ,reg_all=0.08,verbose=False)

In [40]:
algo1.fit(trainset1)

In [0]:
_, testset1 = train_test_split(data, test_size=1)

In [0]:
pred1 = algo1.test(testset1)

In [55]:
accuracy.rmse(pred1)

RMSE: 1.5586

1.5586080331321792

# Baseline

In [0]:
base1 = revT[["user_id","business_id","stars"]]

In [0]:
base1 = base1.merge(userT[["user_id","average_stars"]])

In [0]:
busT.rename(columns= {"stars":"avg_bus_stars"},inplace=True)

In [0]:
base1 = base1.merge(busT[["business_id","avg_bus_stars"]])

In [0]:
base1["avg_combined"] = base1[["average_stars","avg_bus_stars"]].mean(axis=1)

In [31]:
base1

                       user_id  ... avg_combined
0       TpyOT5E16YASd7EWjLQlrw  ...        3.625
1       TpyOT5E16YASd7EWjLQlrw  ...        3.625
2       G-9ujgKmc1J2k7HSqXszsw  ...        3.405
3       rcUun0KBLWNWz05Q1StMAQ  ...        3.305
4       CxDOIDnH8gp9KXzpBHJYXw  ...        3.410
...                        ...  ...          ...
188330  msrPAk1F27MUDGZ5B8SKkw  ...        3.940
188331  g_SAgyVPSs_Sf3vtEKVFnA  ...        4.225
188332  g_SAgyVPSs_Sf3vtEKVFnA  ...        2.975
188333  6jMiVZXi2R6appV9VuDGxw  ...        3.880
188334  h_2NGTYvjOc38cjx90rM5Q  ...        3.085

[188335 rows x 6 columns]

In [36]:
np.sqrt(np.mean(np.square(base1.stars - base1.avg_combined)))

0.9607950520818624

In [0]:
base1_test = test.merge(base1[["user_id","business_id","avg_combined"]],how='left')

In [86]:
base1_test

                      user_id             business_id  stars  avg_combined
0      pVj37cy4Y6FfH9YIlEhsZA  bz07FlaDmxHV9ER-cF6XuA    2.0         3.515
1      kw-YtOKPXrRB2a9wRZlmzQ  zA6gnF5aPBGoOm6uIbKt-A    3.0         3.780
2      Ao-6FYE29-I8WwPg67806A  vHwE7OKl6W3M28a5uzJ0kg    4.0         3.275
3      T9f3M6hFs6R3ayRc0QCTwQ  QaxDKkqYTtVYZJcqBNTnvQ    2.0         3.760
4      -9MOrFh1va1SC9BBNlMTeQ  p4hzwmiBvq3Clj65JyPGSQ    1.0         2.860
...                       ...                     ...    ...           ...
41554  eSc8pCT0H1ThVV89dfq6Qw  h_4dPV9M9aYaBliH1Eoeeg    4.0         3.865
41555  yFddLTv9mTZloh1hhrjpkA  eZaCQPZYmETSNiHRagNu2g    5.0         3.715
41556  5Y0VGDQxeDJUHFvHj4Bg7g  9NMKFyr3Cw5wt_mlqv3U1g    1.0         3.365
41557  iJCtRAlSvxiUuKlVAnsq0A  nqTvE7ivdU23oUWdI01tOA    4.0         3.995
41558  9W73B44Iw8WslrTNB2CdCg  QyvDY1cMrj0EXKUiPs9A4w    3.0         3.435

[41559 rows x 4 columns]

In [87]:
np.sqrt(np.mean(np.square(base1_test.stars - base1_test.avg_combined)))

0.9648339635541202

# NMF

In [89]:
# Using NMF
# Run 5-fold cross-validation and print results
cv = cross_validate(NMF(biased=True), data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
cv

Evaluating RMSE, MAE of algorithm NMF on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9873  0.9861  0.9810  0.9905  0.9887  0.9867  0.0032
MAE (testset)     0.7745  0.7718  0.7666  0.7756  0.7724  0.7722  0.0031
Fit time          8.68    9.08    8.97    8.98    8.94    8.93    0.13
Test time         0.23    0.23    0.24    0.38    0.38    0.29    0.07

{'fit_time': (8.678798913955688,
  9.077225923538208,
  8.96810793876648,
  8.980125188827515,
  8.941279649734497),
 'test_mae': array([0.77450572, 0.77183376, 0.76664209, 0.77558136, 0.7724347 ]),
 'test_rmse': array([0.98727446, 0.98612188, 0.98099525, 0.99049869, 0.98866199]),
 'test_time': (0.23005890846252441,
  0.23060083389282227,
  0.2426769733428955,
  0.3785836696624756,
  0.38051724433898926)}

In [0]:
algo2 = NMF(biased=True)

In [42]:
algo2.fit(trainset)

In [0]:
pred2 = algo2.test(testset)

In [44]:
accuracy.rmse(pred2)

RMSE: 0.9881

0.9880822917548683

In [0]:
pred3 = algo2.test(testset2)

In [46]:
accuracy.rmse(pred3)

RMSE: 0.7290

0.7290203715440694

# Baseline 2

In [0]:
mean_bus = pd.DataFrame(train.groupby("business_id").mean())

In [0]:
mean_usr = pd.DataFrame(train.groupby("user_id").mean())

In [0]:
mean_bus.reset_index(inplace=True)

In [0]:
mean_usr.reset_index(inplace=True)

In [0]:
mean_bus.rename(columns={"stars":"avg_bus"},inplace=True)

In [0]:
test = test.merge(mean_bus)

In [0]:
mean_usr.rename(columns={"stars":"avg_usr"},inplace=True)

In [0]:
test = test.merge(mean_usr)

In [0]:
test["avg_combined"] = test[["avg_usr","avg_bus"]].mean(axis=1)

In [29]:
np.sqrt(np.mean(np.square(test.stars - test.avg_combined)))

0.9805024253765215

In [0]:
train = train.merge(mean_bus)

In [0]:
train = train.merge(mean_usr)

In [0]:
train["avg_combined"] = train[["avg_usr","avg_bus"]].mean(axis=1)

In [33]:
np.sqrt(np.mean(np.square(train.stars - train.avg_combined)))

0.9386134060432039