<a href="https://colab.research.google.com/github/nishu3210/Yelp_data_challenge/blob/master/Yelp_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Yelp Data Challenge
Tasks: \\
1. Recommendation using collaborative and content based filtering techniques. Also, use query generation and search techniques. \\
2. Aspect Based Sentiment Analysis of user reviews (Proposed)

Mount Google Drive and load Yelp JSON data using Pandas

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import os

In [0]:
os.chdir("drive/My Drive/Yelp Data/")

In [0]:
import pandas as pd

User Data

In [0]:
user_chunk = pd.read_json("yelp_academic_dataset_user.json", chunksize=1000000,orient = 'list' ,lines = True)

In [0]:
chunk_list = []
# Each chunk is in df format
for chunk in user_chunk:  
    chunk_list.append(chunk)
    
# concat the list into dataframe 
user = pd.concat(chunk_list)

In [0]:
del chunk_list, chunk, user_chunk

In [8]:
import gc
gc.collect()

0

In [9]:
user.head()

                  user_id    name  ...  compliment_writer compliment_photos
0  l6BmjZMeQD3rDxWUbiAiow  Rashmi  ...                  2                 0
1  4XChL029mKr5hydo79Ljxg   Jenna  ...                  0                 0
2  bc8C_eETBWL0olvFSJJd0w   David  ...                  0                 0
3  dD0gZpBctWGdWo9WlGuhlA  Angela  ...                  1                 0
4  MM4RJAeH6yuaN8oZDSt0RA   Nancy  ...                 25                 5

[5 rows x 22 columns]

Business

In [0]:
bus_chunk = pd.read_json("yelp_academic_dataset_business.json", chunksize=1000000,lines = True)

In [0]:
chunk_list = []
# Each chunk is in df format
for chunk in bus_chunk:  
    chunk_list.append(chunk)
    
# concat the list into dataframe 
bus = pd.concat(chunk_list)

In [12]:
del chunk_list, chunk, bus_chunk
gc.collect()

0

In [13]:
bus.head()

              business_id  ...                                              hours
0  1SWheh84yJXfytovILXOAQ  ...                                               None
1  QXAEGFB4oINsVuTFxEYKFQ  ...  {'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...
2  gnKjwL_1w79qoiV3IC_xQQ  ...  {'Monday': '17:30-21:30', 'Wednesday': '17:30-...
3  xvX2CttrVhyG2z1dFg_0xw  ...  {'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...
4  HhyxOkGAM07SRYtlQ4wMFQ  ...  {'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...

[5 rows x 14 columns]

Reviews Data

In [0]:
rev_chunk = pd.read_json("yelp_academic_dataset_review.json", chunksize=1000000,lines = True)

In [0]:
chunk_list = []
# Each chunk is in df format
for chunk in rev_chunk:  
    chunk_list.append(chunk)
    gc.collect()
    
# concat the list into dataframe 
rev = pd.concat(chunk_list)

In [16]:
del chunk_list, chunk, rev_chunk
gc.collect()

0

In [17]:
rev.head()

                review_id  ...                date
0  Q1sbwvVQXV2734tPgoKj4Q  ... 2013-05-07 04:34:36
1  GJXCdrto3ASJOqKeVWPi6Q  ... 2017-01-14 21:30:33
2  2TzJjDVDEuAW6MR5Vuc1ug  ... 2016-11-09 20:09:03
3  yi0R0Ugj_xUx_Nek0-_Qig  ... 2018-01-09 20:56:38
4  11a8sVPMUFtaC7_ABRkmtw  ... 2018-01-30 23:07:38

[5 rows x 9 columns]

User tips for restaurants

In [0]:
tip_chunk = pd.read_json("yelp_academic_dataset_tip.json", chunksize=1000000,lines = True)

In [0]:
chunk_list = []
# Each chunk is in df format
for chunk in tip_chunk:  
    chunk_list.append(chunk)
    gc.collect()
    
# concat the list into dataframe 
tip = pd.concat(chunk_list)

In [20]:
del chunk_list, chunk, tip_chunk
gc.collect()

0

In [21]:
tip.head()

                  user_id  ... compliment_count
0  UPw5DWs_b-e2JRBS-t37Ag  ...                0
1  Ocha4kZBHb4JK0lOWvE0sg  ...                0
2  jRyO2V1pA4CdVVqCIOPc1Q  ...                0
3  FuTJWFYm4UKqewaosss1KA  ...                0
4  LUlKtaM3nXd-E4N4uOk_fQ  ...                0

[5 rows x 5 columns]

User checkin data

In [0]:
# chk_chunk = pd.read_json("yelp_academic_dataset_checkin.json", chunksize=1000000,lines = True)

In [0]:
# chunk_list = []
# # Each chunk is in df format
# for chunk in chk_chunk:  
#     chunk_list.append(chunk)
#     gc.collect()
    
# # concat the list into dataframe 
# chk = pd.concat(chunk_list)

In [0]:
# del chunk_list, chunk, chk_chunk
# gc.collect()

In [0]:
# chk.head()

# Filtering Data

In [26]:
bus.city.value_counts()

Las Vegas              29370
Toronto                18906
Phoenix                18766
Charlotte               9509
Scottsdale              8837
                       ...
Saint Leonard              1
Vaughn                     1
Alburgh                    1
Penn Hills Township        1
                           1
Name: city, Length: 1204, dtype: int64

Selecting Toronto as the city

In [0]:
busT = bus[bus.city=="Toronto"]

In [28]:
busT.head()

               business_id  ...                                              hours
19  zSpQmEBvRe3IhTUlMSA6HQ  ...  {'Monday': '6:0-22:0', 'Tuesday': '6:0-22:0', ...
26  C9oCPomVP0mtKa8z99E3gg  ...  {'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ...
27  C9keC4mWuXdl2mYFHZXudQ  ...  {'Monday': '11:30-19:0', 'Tuesday': '11:30-19:...
29  NDuUMJfrWk52RA-H-OtrpA  ...  {'Monday': '8:0-21:0', 'Tuesday': '8:0-21:0', ...
32  SP_YXIEwkFPPl_9anCYmpQ  ...  {'Tuesday': '9:0-18:0', 'Wednesday': '9:0-18:0...

[5 rows x 14 columns]

In [29]:
busT.categories.value_counts().to_csv("categories.csv")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

Taking only resturants

In [30]:
busT.categories[busT.categories.str.contains("(Restaurants)|(Bar)|(Food)|(Cafe?s)|(Juice?s)|(Fast Food)|(Bakeries)",case=False,regex=True,na=False)].count()

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

10704

In [31]:
busT = busT[busT.categories.str.contains("(Restaurants)|(Bar)|(Food)|(Cafe?s)|(Juice?s)|(Fast Food)|(Bakeries)",case=False,regex=True,na=False)]

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

Keeping only open businesses

In [32]:
busT.is_open.value_counts()

1    7292
0    3412
Name: is_open, dtype: int64

In [0]:
# busT = busT[busT.is_open==1]

In [34]:
busT.count()

business_id     10704
name            10704
address         10704
city            10704
state           10704
postal_code     10704
latitude        10704
longitude       10704
stars           10704
review_count    10704
is_open         10704
attributes      10219
categories      10704
hours            8005
dtype: int64

Subset other data sets accordingly

In [0]:
revT = rev[rev.business_id.isin(busT.business_id.unique())]

In [36]:
revT.count()

review_id      435785
user_id        435785
business_id    435785
stars          435785
useful         435785
funny          435785
cool           435785
text           435785
date           435785
dtype: int64

In [0]:
userT = user[user.user_id.isin(revT.user_id.unique())]

In [38]:
userT.count()

user_id               94318
name                  94318
review_count          94318
yelping_since         94318
useful                94318
funny                 94318
cool                  94318
elite                 94318
friends               94318
fans                  94318
average_stars         94318
compliment_hot        94318
compliment_more       94318
compliment_profile    94318
compliment_cute       94318
compliment_list       94318
compliment_note       94318
compliment_plain      94318
compliment_cool       94318
compliment_funny      94318
compliment_writer     94318
compliment_photos     94318
dtype: int64

In [0]:
tipT = tip[tip.business_id.isin(busT.business_id)]

In [40]:
tipT.count()

user_id             62351
business_id         62351
text                62351
date                62351
compliment_count    62351
dtype: int64

In [41]:
del user,bus,tip,rev
gc.collect()

18

Save workspace to pickle

In [42]:
!pip3 install dill

Requirement already satisfied: dill in /usr/local/lib/python3.6/dist-packages (0.3.1.1)

In [0]:
import dill                            
# filename = 'Yelp_Toronto.pkl'
# dill.dump_session(filename)

Load workspace from pickle

In [0]:
# dill.load_session(filename)

In [65]:
revT.head()

                 review_id  ...                date
14  JVcjMhlavKKn3UIt9p9OXA  ... 2012-07-16 00:37:14
15  svK3nBU7Rk8VfGorlrN52A  ... 2017-04-07 21:27:49
19  4bUyL7lzoWzDZaJETAKREg  ... 2014-06-27 21:19:23
34  E6B-2U2sGG3xgmnNWZAEew  ... 2017-12-29 13:55:19
47  0NRNA8qIq9nKw5FcwyOxcQ  ... 2015-04-01 13:31:35

[5 rows x 9 columns]

In [0]:
import numpy as np

In [67]:
np.mean(revT.user_id.value_counts()>1)

0.4845522593778494

Only 48% of users have more than 1 review

In [68]:
revT[["user_id","stars"]].describe()

               stars
count  435785.000000
mean        3.620971
std         1.270781
min         1.000000
25%         3.000000
50%         4.000000
75%         5.000000
max         5.000000

In [70]:
np.mean(revT.user_id.value_counts()>9)

0.08562522530163913

In [71]:
revT[revT.groupby('user_id').user_id.transform("size") > 9].describe()

               stars         useful          funny           cool
count  252356.000000  252356.000000  252356.000000  252356.000000
mean        3.617413       1.426853       0.517757       0.724936
std         1.127627       3.124527       1.949561       2.445733
min         1.000000       0.000000       0.000000       0.000000
25%         3.000000       0.000000       0.000000       0.000000
50%         4.000000       1.000000       0.000000       0.000000
75%         4.000000       2.000000       0.000000       1.000000
max         5.000000     110.000000     264.000000     110.000000

We will keep only those users who have at least rated 5 restaurants

In [0]:
revT = revT[revT.groupby('user_id').user_id.transform("size") > 9]

In [73]:
revT.stars.isna().sum()

0

In [0]:
revT.reset_index(inplace=True)

Collaborative Filtering

In [62]:
!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/f5/da/b5700d96495fb4f092be497f02492768a3d96a3f4fa2ae7dea46d4081cfa/scikit-surprise-1.1.0.tar.gz (6.4MB)
     || 6.5MB 4.9MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.14.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.17.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.3.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp36-cp36m-linux_x86_64.whl size=1678231 sha256=7219e13b9c357e09be118fb5d7c08c97bc722f5609dbb6e098a1133ee55f1c44
  Stored in directory: /root/.cache/pip/wheels/cc/fa/8c/16c93fccce688ae1bde7d979ff102f7bee980d9cfeb8641bcf
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.0 surprise-0.1

In [0]:
import numpy as np
from surprise import Dataset, Reader
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import cross_validate, train_test_split
from surprise.prediction_algorithms import Prediction
import random
from surprise.model_selection import GridSearchCV

In [0]:
# Instantiate a 'Reader' to read in the data so Surprise can use it
reader = Reader(rating_scale=(1, 5))

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(revT[['user_id', 'business_id', 'stars']], reader)

Default Testing

In [66]:
# We'll use the famous SVD algorithm.
algo = SVD()

# Run 5-fold cross-validation and print results
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0538  1.0522  1.0458  1.0533  1.0531  1.0517  0.0030
MAE (testset)     0.8325  0.8329  0.8273  0.8313  0.8326  0.8313  0.0021
Fit time          16.16   16.46   16.52   16.45   16.40   16.40   0.13
Test time         1.00    0.81    0.74    0.71    0.72    0.80    0.11

{'fit_time': (16.155102729797363,
  16.460575819015503,
  16.521575927734375,
  16.453197240829468,
  16.39826202392578),
 'test_mae': array([0.83246933, 0.83293837, 0.82731691, 0.83128771, 0.83262621]),
 'test_rmse': array([1.05382574, 1.05224602, 1.04581173, 1.05333015, 1.0531346 ]),
 'test_time': (0.9984898567199707,
  0.8131744861602783,
  0.741588830947876,
  0.710076093673706,
  0.7158918380737305)}

In [0]:
param_grid = {'n_epochs': [20,40], 'n_factors':[1,5], 'biased': [True, False], 'lr_all': [0.001, 0.005, 0.02], 'reg_all':[0.04,0.06,0.08], 'verbose': ['True']}

In [0]:
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=5)

In [0]:
gs.fit(data)

In [0]:
results = gs.cv_results

In [0]:
results_df = pd.DataFrame.from_dict(gs.cv_results)
results_df.to_csv('svd_results.csv')

In [0]:
results_df = pd.read_csv("svd_results.csv")
results_df.drop(columns="Unnamed: 0",inplace = True)

In [0]:
results_df.sort_values(by='mean_test_rmse').head()

    split0_test_rmse  split1_test_rmse  ...  param_reg_all  param_verbose
40          1.042047          1.047469  ...           0.06           True
41          1.042182          1.047496  ...           0.08           True
39          1.042030          1.047583  ...           0.04           True
59          1.042219          1.047585  ...           0.08           True
77          1.042483          1.047410  ...           0.08           True

[5 rows x 27 columns]

Now we know the best parameters, we can make test train dataset and check the predicted values

In [0]:
trainset, testset = train_test_split(data, test_size=.25)

In [0]:
gs.best_params["rmse"]

{'biased': True,
 'lr_all': 0.005,
 'n_epochs': 20,
 'n_factors': 1,
 'reg_all': 0.06,
 'verbose': 'True'}

In [0]:
algo = SVD(biased=True, lr_all=0.005, n_epochs=20,n_factors=1,reg_all=0.06,verbose=True)

In [0]:
algo.fit(trainset)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 18
Processing epoch 19

In [0]:
predictions = algo.test(testset)

In [0]:
accuracy.rmse(predictions)

RMSE: 1.0513

1.051342378052109

In [0]:
predictions = pd.DataFrame(predictions)

In [0]:
predictions[predictions.uid=="k0QpEqseu2y87KIHyGVlzw"]

                          uid  ...                    details
0      k0QpEqseu2y87KIHyGVlzw  ...  {'was_impossible': False}
5035   k0QpEqseu2y87KIHyGVlzw  ...  {'was_impossible': False}
12939  k0QpEqseu2y87KIHyGVlzw  ...  {'was_impossible': False}
40691  k0QpEqseu2y87KIHyGVlzw  ...  {'was_impossible': False}

[4 rows x 5 columns]

Let's see what happens if we use the average rating for all

In [0]:
revT_avg = revT[['user_id','business_id','stars']]

In [0]:
revT_avg["mean_star"] = revT_avg.groupby('user_id')['stars'].transform('mean')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
revT_avg[revT_avg.user_id=="k0QpEqseu2y87KIHyGVlzw"]

                       user_id             business_id  stars  mean_star
2867    k0QpEqseu2y87KIHyGVlzw  6eRSdODyj9GS0w6zlhrWkg      4   3.695652
16002   k0QpEqseu2y87KIHyGVlzw  aKESUG6MntqZNvC0DiFcJg      1   3.695652
17657   k0QpEqseu2y87KIHyGVlzw  O-uIEuv7JLUHajkemx_sVw      5   3.695652
26053   k0QpEqseu2y87KIHyGVlzw  478TIlfHXfT3wvww54QsPg      4   3.695652
33374   k0QpEqseu2y87KIHyGVlzw  478TIlfHXfT3wvww54QsPg      5   3.695652
62437   k0QpEqseu2y87KIHyGVlzw  qjYhAxibnS2M5IybPd5Yfw      3   3.695652
69029   k0QpEqseu2y87KIHyGVlzw  YacxbXstfITuEDmlQIjyVg      2   3.695652
70955   k0QpEqseu2y87KIHyGVlzw  9tfw-OEfpF0qC2hSzRks6g      3   3.695652
74672   k0QpEqseu2y87KIHyGVlzw  RIkiTtRMZASo7DmKd1vd5g      5   3.695652
75759   k0QpEqseu2y87KIHyGVlzw  kKC7UTcHZM3zLfT97x3msg      2   3.695652
84264   k0QpEqseu2y87KIHyGVlzw  iKMLsX1Je7P3wAOEc9scDg      5   3.695652
93653   k0QpEqseu2y87KIHyGVlzw  oKZPgeCOxnVSxudYcn1OtQ      3   3.695652
98129   k0QpEqseu2y87KIHyGVlzw  uPa5hrWmHm0n1l4MSyVMGQ      5   3.695652
99039   k0QpEqseu2y87KIHyGVlzw  Q4RSmF0s-AkaegrLFCLEbg      4   3.695652
106510  k0QpEqseu2y87KIHyGVlzw  CkncJJ9tKgsGULXTTKmfdw      4   3.695652
119246  k0QpEqseu2y87KIHyGVlzw  8I5U8OQ06nSxX2y4PPOWzQ      5   3.695652
127672  k0QpEqseu2y87KIHyGVlzw  snw9iNNLpFYZeHotW00uVA      5   3.695652
150013  k0QpEqseu2y87KIHyGVlzw  3cXsW6HxqW1HS4fcNCP1HQ      1   3.695652
160670  k0QpEqseu2y87KIHyGVlzw  cTbFJzHQzFSX-z3JF4abKQ      3   3.695652
176543  k0QpEqseu2y87KIHyGVlzw  u2ETlHOcFdRz4BxcdfsK0Q      4   3.695652
197783  k0QpEqseu2y87KIHyGVlzw  yEgnxd3aUUgUoG7qJiuDlQ      4   3.695652
225397  k0QpEqseu2y87KIHyGVlzw  wcR9Vbwn2EmlSeV7uBUIsA      3   3.695652
244940  k0QpEqseu2y87KIHyGVlzw  9Boahjn3QxlZnP2Aw_V1Rg      5   3.695652

# Content Based Filtering